@import url(proxima-nova.css);

body {
    font-family: ProximaNova-Regular;
}

.cover {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    color: white;
}

ul, li {
    padding: 0;
    margin: 0;
}

ul li {
    margin-left: 30px;
    font-size: 36px;
    margin-bottom: 20px;
}

p {

}

p img {
    width: 100%;
}

.remark-code, .remark-inline-code 
{
    font-family: 'Source Code Pro'; 
}

.remark-inline-code {
    background: #efefef;
    padding: 0px 10px;
}

.thanks {
    color: pink;
}

.machine h3 {
    color: orange;
}